.root{
     -fx-background-radius:30px; 
    /* -fx-border-radius:40px; */
    -fx-background-color: #2f2a57;
    -fx-font-size:14px;
}
.label{
    -fx-text-fill:white;
    
}
#textlabel{
    -fx-background-color:white;
    -fx-background-radius:20px;
}
