.root{
    -fx-font-family:'Arial';
    -fx-background-color: #4D0099;
    -fx-font-size: 14px;
    
  }

.pane:hover{
    -fx-background-color:#290152;
   -fx-background-radius:10px;
}
.label{

-fx-font-size: 14px;
    -fx-font-weight:bold;
}

.content{

-fx-font-size: 12px;

}