.root{
    -fx-background-color:  #2f2a57;
   
}



.list-view .list-cell:even {
    -fx-background-color: #1e1836;
    -fx-text-fill: white;
    -fx-height:100px;
    -fx-font-size:20px;
    }
.list-view .list-cell:odd {
    -fx-background-color: #1e1836;
    -fx-text-fill: white;
    -fx-height:100px;
    -fx-font-size:20px;
 }