.text-field{
-fx-border-color: #400080;
-fx-border-radius:100px;
-fx-background-radius:100px;
-fx-text-fill:#400080 ;
-fx-text-prompt-fill:#400080 ;
}


#loginButton{
    -fx-background-radius:100px;
    -fx-background-color:#400080;
}

.pane{
   
    -fx-background-radius:35px;
    -fx-background-color:white;
}

#forgetbutton{
    -fx-background-color:transparent;
}

#createbutton{
    -fx-background-color:transparent;
}
.container{
    -fx-background-color: #400080;
}

